/* *************************************** */
/* Header */
/* *************************************** */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 32px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
header h1 {
  margin: 0;
}
header h1 a img {
  height: 82px;
  width: 100px;
}

#gnb {
  flex-grow: 1; /* Allow the navigation menu to grow and occupy remaining space */
}

#gnb .depth1,
#gnb .gnb_brand {
  display: flex;
  justify-content: center; /* Center the navigation menu items */
}

#gnb .depth1 > li {
  color: #fff;
  font-weight: 700;
  position: relative;
}
#gnb .gnb_brand > li {
  color: #000;
  font-weight: 700;
  position: relative;
}
#gnb .depth1 > li:hover .depth2,
#gnb .gnb_brand > li:hover .depth2 {
  display: block;
}

#gnb .depth1 > li > a {
  /* a는 inline*/
  display: block;
  position: relative;
  height: 82px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  font-weight: 500;
}
#gnb .gnb_brand > li > a {
  display: block;
  position: relative;
  height: 82px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: #000;
  font-weight: 500;
}
#gnb .depth1 > li:hover > a {
  color: #1e1e1e;
  font-weight: 700;
}
#gnb .gnb_brand > li:hover > a {
  color: #868686;
  font-weight: 700;
}
/* 메뉴 hover시, 밑줄 */
/* content는 inline이라 block으로 설정 */
/* #gnb .depth1 > li:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
  color: #000;
} */
.depth2 {
  display: none;
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
}
.depth2 li a {
  display: block;
  padding: 8px 0;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.depth2 li:hover a {
  color: #1e1e1e;
}
.header_icons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.header_icons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}
.header_icons button svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
}
.icons_brand button svg {
  width: 24px;
  height: 24px;
  stroke: #000;
}
/* *************************************** */
/* Video */
/* *************************************** */
.video {
  filter: brightness(90%);
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-text {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.video-text h2,
.video-text p {
  font-size: 40px;
  color: white;
}
/* slide */
.slide {
  background-color: lightblue;
  position: relative;
  height: 300px;
  /* 고정 높이값을 넣어줘야함 기본이 0이기때문 */
  overflow: hidden;
}
.slide ul {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 300%;
}
.slide li {
  width: 100%;
  height: 300px;
}

/* *************************************** */
/* Swiper */
/* *************************************** */
.swiper {
  width: 100%;
  height: 400px;
  /* top, right, bottom, left ; */
  padding: 0 90px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 90px; */
  width: 403px;
  height: 194px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* *************************************** */
/* Main Section */
/* *************************************** */

.section {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 90px;
  border-bottom: 1px solid #1e1e1e;
  margin: 0 auto;
}
.wide_section {
  padding: 90px 0;
}
.section_brand {
  margin: 0 auto;
  height: 100%;
}
/* ******* Section 1 - 회사 소개 ************** */
.section01 {
  margin: 0 auto;
  height: 100%;
}
.section01 .wide_section,
.section_brand .wide_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 104px;
}
.section_brand .wide_section {
  padding: 195px 0 0 0;
}
.section01 .wide_section a {
  margin: 0;
}
/* ******* Section 2 - 브랜드 ************** */
.section_container .section02 {
  background-color: #f5f5f5;
}
.section02 {
  margin: 0 auto;
  height: 100%;
}
.section02 .wide_section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  gap: 104px;
}
.section02 .wide_section .relative_box {
  margin: 0 auto;
  height: 860px;
  /* padding: 0 90px; */
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 104px;
}
.section02 .wide_section .relative_box h2 {
  color: #aaa;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.2px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 14px;
}
.section02 .wide_section .left_box {
  padding: 194px 0;
  width: 50%;
  float: left;
  overflow: hidden;
}
.section02 .wide_section .left_box a,
.section01 .wide_section a {
  background-color: #222;
  color: #fff;
  font-size: 16px;
  line-height: 54px;
  letter-spacing: -0.5px;
  padding: 0 40px;
  text-align: center;
}
/* .section02 .wide_section .left_box a svg {
  stroke: #fff;
} */
.section02 .wide_section .right_box {
  animation: 1.2s moveshow ease-out forwards;
  animation-delay: 0.8s;
  width: 43%;
  float: right;
  overflow: hidden;
  text-align: right;
}
.section02 .wide_section .right_box ul {
  display: inline-block;
  margin-top: -160px;
  margin-right: 6%;
  width: 43%;
  height: calc(352px * 36);
}
.section02 .wide_section .right_box li {
  margin-top: 32px;
  width: 100%;
  position: relative;
}
.section02 .wide_section .right_box li img {
  width: 100%;
  height: 288px;
  border-radius: 10px;
  object-fit: cover;
}
/* ******* Section 3 - 약속과 책임 ********* */
.section03 {
  margin: 0 auto;
}
.section03 .wide_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 104px;
}

.section03 .wide_section .relative_box {
  margin: 0 auto;
  width: 100%;
  max-width: 1476px;
  text-align: center;
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

.section03 .wide_section ul {
  display: flex;
  gap: 18px;
  width: 100%;
  justify-content: space-between;
  color: #1e1e1e;
  font-weight: 700;
  margin-bottom: 20px;
}
.section03 .wide_section ul li {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  height: 800px;
  border-radius: 10px;
}
.section03 .wide_section ul li p {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -2px;
  font-weight: 700;
}
.section03 .wide_section ul li span {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1px;
  font-weight: 500;
}
.section03 .wide_section ul .thumb_box {
  width: 100%;
  height: 50%;
  display: block;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.section03 .wide_section ul .thumb_box img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  object-fit: cover;
  transition: scale 400ms;
}
.section03 .wide_section ul .thumb_box:hover img {
  scale: 110%;
}
.section03 .wide_section ul .desc_box p {
  margin-top: 20px;
}
.section03 .wide_section ul .desc_box span {
  margin-top: 12px;
  color: #707070;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.5px;
  font-style: normal;
}

/* ******* Section 4 - 뉴스 ********* */
.section04 {
  margin: 0 auto;
}
.section04 .wide_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 104px;
}

.section04 .wide_section .relative_box {
  margin: 0 auto;
  width: 100%;
  max-width: 1476px;
  text-align: center;
  margin-bottom: 104px;
  display: flex;
  flex-direction: column;
}

.section04 .wide_section ul {
  display: flex;
  gap: 18px;
  width: 100%;
  justify-content: space-between;
  color: #1e1e1e;
  font-weight: 700;
  margin-bottom: 20px;
}
.section04 .wide_section ul li {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  height: 650px;
  border-radius: 10px;
}
.section04 .wide_section ul li p {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -2px;
  font-weight: 700;
}
.section04 .wide_section ul li span {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1px;
  font-weight: 500;
}
.section04 .wide_section ul .thumb_box {
  width: 100%;
  height: 60%;
  display: block;
  position: relative;
  border-radius: 5px;
}
.section04 .wide_section ul .thumb_box img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  object-fit: cover;
}
.section04 .wide_section ul .desc_box p {
  margin-top: 20px;
}
.section04 .wide_section ul .desc_box span {
  margin-top: 12px;
}
span .sub_title {
  color: #1e1e1e;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.5px;
  font-style: normal;
  text-align: center;
}
/* *************************************** */
/* Footer */
/* *************************************** */
footer {
  background-color: #f5f5f5;
}
.footer_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 58px 0;
  margin: 0 94px;
}
footer .footer_logo {
  margin: 0 auto;
}
footer div a img {
  height: auto;
  width: 172px;
}
footer div {
  width: auto;
}
.footer_contents {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
}
.footer_top ul,
.footer_mid ul {
  display: flex;
  gap: 8px;
}
.footer_top ul {
  font-weight: 700;
}

/* modal */
.dimmed {
  /* fixed도 기준가능 */
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.layer_box {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: -150px 0 0 -250px; */
  height: 300px;
  width: 500px;
  background-color: #fff;
  padding: 40px;
  justify-content: center;
  align-items: center;
}
.layer_box h2 {
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.layer_box p {
  font-size: 16px;
  color: #444;
  flex: 1;
  /* p 내용이 일단 자리 차지하고 나머지 애들이 공간 가져감 */
  overflow: auto;
  max-height: 110px;
}

.layer_box button {
  background-color: #000;
  width: 100px;
  height: 40px;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
}
